<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @careyouall.name %>
</p>

<p>
  <strong>A1:</strong>
  <%= @careyouall.a1 %>
</p>

<p>
  <strong>B1:</strong>
  <%= @careyouall.b1 %>
</p>

<p>
  <strong>C1:</strong>
  <%= @careyouall.c1 %>
</p>

<p>
  <strong>D1:</strong>
  <%= @careyouall.d1 %>
</p>

<p>
  <strong>E1:</strong>
  <%= @careyouall.e1 %>
</p>

<p>
  <strong>F1:</strong>
  <%= @careyouall.f1 %>
</p>

<p>
  <strong>G1:</strong>
  <%= @careyouall.g1 %>
</p>

<p>
  <strong>H1:</strong>
  <%= @careyouall.h1 %>
</p>

<p>
  <strong>I1:</strong>
  <%= @careyouall.i1 %>
</p>

<p>
  <strong>J1:</strong>
  <%= @careyouall.j1 %>
</p>

<p>
  <strong>K1:</strong>
  <%= @careyouall.k1 %>
</p>

<p>
  <strong>L1:</strong>
  <%= @careyouall.l1 %>
</p>

<%= link_to 'Edit', edit_careyouall_path(@careyouall) %> |
<%= link_to 'Back', careyoualls_path %>
