<%= form_with(model: testabc, local: true) do |form| %>
  <% if testabc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testabc.errors.count, "error") %> prohibited this testabc from being saved:</h2>

      <ul>
      <% testabc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id %>
  </div>

  <div class="field">
    <%= form.label :w %>
    <%= form.text_field :w %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
