<p id="notice"><%= notice %></p>

<h1>Testabcs</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>W</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testabcs.each do |testabc| %>
      <tr>
        <td><%= testabc.id %></td>
        <td><%= testabc.w %></td>
        <td><%= link_to 'Show', testabc %></td>
        <td><%= link_to 'Edit', edit_testabc_path(testabc) %></td>
        <td><%= link_to 'Destroy', testabc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testabc', new_testabc_path %>
