<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @testabc.id %>
</p>

<p>
  <strong>W:</strong>
  <%= @testabc.w %>
</p>

<%= link_to 'Edit', edit_testabc_path(@testabc) %> |
<%= link_to 'Back', testabcs_path %>
