<p id="notice"><%= notice %></p>

<p>
  <strong>Aa:</strong>
  <%= @careyoual.aa %>
</p>

<p>
  <strong>Bb:</strong>
  <%= @careyoual.bb %>
</p>

<p>
  <strong>Ccdd:</strong>
  <%= @careyoual.ccdd %>
</p>

<p>
  <strong>Ee:</strong>
  <%= @careyoual.ee %>
</p>

<p>
  <strong>Ff:</strong>
  <%= @careyoual.ff %>
</p>

<p>
  <strong>Gg:</strong>
  <%= @careyoual.gg %>
</p>

<p>
  <strong>Hh:</strong>
  <%= @careyoual.hh %>
</p>

<p>
  <strong>Ii:</strong>
  <%= @careyoual.ii %>
</p>

<p>
  <strong>Jj:</strong>
  <%= @careyoual.jj %>
</p>

<p>
  <strong>Kk:</strong>
  <%= @careyoual.kk %>
</p>

<p>
  <strong>Ll:</strong>
  <%= @careyoual.ll %>
</p>

<p>
  <strong>Mm:</strong>
  <%= @careyoual.mm %>
</p>

<p>
  <strong>Nn:</strong>
  <%= @careyoual.nn %>
</p>

<p>
  <strong>Oo:</strong>
  <%= @careyoual.oo %>
</p>

<p>
  <strong>Pp:</strong>
  <%= @careyoual.pp %>
</p>

<p>
  <strong>Qq:</strong>
  <%= @careyoual.qq %>
</p>

<p>
  <strong>Rr:</strong>
  <%= @careyoual.rr %>
</p>

<p>
  <strong>Ss:</strong>
  <%= @careyoual.ss %>
</p>

<p>
  <strong>Tt:</strong>
  <%= @careyoual.tt %>
</p>

<p>
  <strong>Uu:</strong>
  <%= @careyoual.uu %>
</p>

<p>
  <strong>Vv:</strong>
  <%= @careyoual.vv %>
</p>

<p>
  <strong>Ww:</strong>
  <%= @careyoual.ww %>
</p>

<p>
  <strong>Xx:</strong>
  <%= @careyoual.xx %>
</p>

<p>
  <strong>Yy:</strong>
  <%= @careyoual.yy %>
</p>

<p>
  <strong>Zz:</strong>
  <%= @careyoual.zz %>
</p>

<%= link_to 'Edit', edit_careyoual_path(@careyoual) %> |
<%= link_to 'Back', careyouals_path %>
