<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @cy.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @cy.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @cy.c %>
</p>

<p>
  <strong>D:</strong>
  <%= @cy.d %>
</p>

<p>
  <strong>E:</strong>
  <%= @cy.e %>
</p>

<p>
  <strong>F:</strong>
  <%= @cy.f %>
</p>

<p>
  <strong>G:</strong>
  <%= @cy.g %>
</p>

<p>
  <strong>H:</strong>
  <%= @cy.h %>
</p>

<p>
  <strong>I:</strong>
  <%= @cy.i %>
</p>

<p>
  <strong>J:</strong>
  <%= @cy.j %>
</p>

<p>
  <strong>K:</strong>
  <%= @cy.k %>
</p>

<p>
  <strong>L:</strong>
  <%= @cy.l %>
</p>

<p>
  <strong>M:</strong>
  <%= @cy.m %>
</p>

<p>
  <strong>N:</strong>
  <%= @cy.n %>
</p>

<p>
  <strong>O:</strong>
  <%= @cy.o %>
</p>

<p>
  <strong>P:</strong>
  <%= @cy.p %>
</p>

<p>
  <strong>Q:</strong>
  <%= @cy.q %>
</p>

<p>
  <strong>R:</strong>
  <%= @cy.r %>
</p>

<p>
  <strong>S:</strong>
  <%= @cy.s %>
</p>

<p>
  <strong>T:</strong>
  <%= @cy.t %>
</p>

<p>
  <strong>U:</strong>
  <%= @cy.u %>
</p>

<p>
  <strong>V:</strong>
  <%= @cy.v %>
</p>

<p>
  <strong>W:</strong>
  <%= @cy.w %>
</p>

<p>
  <strong>X:</strong>
  <%= @cy.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @cy.y %>
</p>

<p>
  <strong>Z:</strong>
  <%= @cy.z %>
</p>

<%= link_to 'Edit', edit_cy_path(@cy) %> |
<%= link_to 'Back', cies_path %>
