<p id="notice"><%= notice %></p>

<h1>Careyouallls</h1>

<table>
  <thead>
    <tr>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
      <th>F</th>
      <th>G</th>
      <th>H</th>
      <th>I</th>
      <th>J</th>
      <th>K</th>
      <th>L</th>
      <th>M</th>
      <th>N</th>
      <th>O</th>
      <th>P</th>
      <th>Q</th>
      <th>R</th>
      <th>S</th>
      <th>T</th>
      <th>U</th>
      <th>V</th>
      <th>W</th>
      <th>X</th>
      <th>Y</th>
      <th>Z</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @careyouallls.each do |careyoualll| %>
      <tr>
        <td><%= careyoualll.a %></td>
        <td><%= careyoualll.b %></td>
        <td><%= careyoualll.c %></td>
        <td><%= careyoualll.d %></td>
        <td><%= careyoualll.e %></td>
        <td><%= careyoualll.f %></td>
        <td><%= careyoualll.g %></td>
        <td><%= careyoualll.h %></td>
        <td><%= careyoualll.i %></td>
        <td><%= careyoualll.j %></td>
        <td><%= careyoualll.k %></td>
        <td><%= careyoualll.l %></td>
        <td><%= careyoualll.m %></td>
        <td><%= careyoualll.n %></td>
        <td><%= careyoualll.o %></td>
        <td><%= careyoualll.p %></td>
        <td><%= careyoualll.q %></td>
        <td><%= careyoualll.r %></td>
        <td><%= careyoualll.s %></td>
        <td><%= careyoualll.t %></td>
        <td><%= careyoualll.u %></td>
        <td><%= careyoualll.v %></td>
        <td><%= careyoualll.w %></td>
        <td><%= careyoualll.x %></td>
        <td><%= careyoualll.y %></td>
        <td><%= careyoualll.z %></td>
        <td><%= link_to 'Show', careyoualll %></td>
        <td><%= link_to 'Edit', edit_careyoualll_path(careyoualll) %></td>
        <td><%= link_to 'Destroy', careyoualll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Careyoualll', new_careyoualll_path %>
