<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @careyoualll.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @careyoualll.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @careyoualll.c %>
</p>

<p>
  <strong>D:</strong>
  <%= @careyoualll.d %>
</p>

<p>
  <strong>E:</strong>
  <%= @careyoualll.e %>
</p>

<p>
  <strong>F:</strong>
  <%= @careyoualll.f %>
</p>

<p>
  <strong>G:</strong>
  <%= @careyoualll.g %>
</p>

<p>
  <strong>H:</strong>
  <%= @careyoualll.h %>
</p>

<p>
  <strong>I:</strong>
  <%= @careyoualll.i %>
</p>

<p>
  <strong>J:</strong>
  <%= @careyoualll.j %>
</p>

<p>
  <strong>K:</strong>
  <%= @careyoualll.k %>
</p>

<p>
  <strong>L:</strong>
  <%= @careyoualll.l %>
</p>

<p>
  <strong>M:</strong>
  <%= @careyoualll.m %>
</p>

<p>
  <strong>N:</strong>
  <%= @careyoualll.n %>
</p>

<p>
  <strong>O:</strong>
  <%= @careyoualll.o %>
</p>

<p>
  <strong>P:</strong>
  <%= @careyoualll.p %>
</p>

<p>
  <strong>Q:</strong>
  <%= @careyoualll.q %>
</p>

<p>
  <strong>R:</strong>
  <%= @careyoualll.r %>
</p>

<p>
  <strong>S:</strong>
  <%= @careyoualll.s %>
</p>

<p>
  <strong>T:</strong>
  <%= @careyoualll.t %>
</p>

<p>
  <strong>U:</strong>
  <%= @careyoualll.u %>
</p>

<p>
  <strong>V:</strong>
  <%= @careyoualll.v %>
</p>

<p>
  <strong>W:</strong>
  <%= @careyoualll.w %>
</p>

<p>
  <strong>X:</strong>
  <%= @careyoualll.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @careyoualll.y %>
</p>

<p>
  <strong>Z:</strong>
  <%= @careyoualll.z %>
</p>

<%= link_to 'Edit', edit_careyoualll_path(@careyoualll) %> |
<%= link_to 'Back', careyouallls_path %>
