<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @ama1.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @ama1.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @ama1.c %>
</p>

<p>
  <strong>D:</strong>
  <%= @ama1.d %>
</p>

<p>
  <strong>E:</strong>
  <%= @ama1.e %>
</p>

<p>
  <strong>F:</strong>
  <%= @ama1.f %>
</p>

<p>
  <strong>G:</strong>
  <%= @ama1.g %>
</p>

<p>
  <strong>H:</strong>
  <%= @ama1.h %>
</p>

<p>
  <strong>I:</strong>
  <%= @ama1.i %>
</p>

<p>
  <strong>J:</strong>
  <%= @ama1.j %>
</p>

<p>
  <strong>K:</strong>
  <%= @ama1.k %>
</p>

<p>
  <strong>L:</strong>
  <%= @ama1.l %>
</p>

<p>
  <strong>M:</strong>
  <%= @ama1.m %>
</p>

<p>
  <strong>N:</strong>
  <%= @ama1.n %>
</p>

<p>
  <strong>O:</strong>
  <%= @ama1.o %>
</p>

<p>
  <strong>P:</strong>
  <%= @ama1.p %>
</p>

<p>
  <strong>Q:</strong>
  <%= @ama1.q %>
</p>

<p>
  <strong>R:</strong>
  <%= @ama1.r %>
</p>

<p>
  <strong>S:</strong>
  <%= @ama1.s %>
</p>

<p>
  <strong>T:</strong>
  <%= @ama1.t %>
</p>

<p>
  <strong>U:</strong>
  <%= @ama1.u %>
</p>

<p>
  <strong>V:</strong>
  <%= @ama1.v %>
</p>

<p>
  <strong>X:</strong>
  <%= @ama1.x %>
</p>

<p>
  <strong>W:</strong>
  <%= @ama1.w %>
</p>

<p>
  <strong>Y:</strong>
  <%= @ama1.y %>
</p>

<p>
  <strong>Z:</strong>
  <%= @ama1.z %>
</p>

<%= link_to 'Edit', edit_ama1_path(@ama1) %> |
<%= link_to 'Back', ama1s_path %>
